{% extends "layout.html" %}

{% block topnav%}{% include "components/topnav.html" with title="User Add"%}{%endblock%}

{% block contents%}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
   
      <div class="md:w-1/2 mt-6 md:mt-0"> 
        <form action="{% url 'user_add' %}" method="POST" class="mt-6 w-full max-w-lg space-y-4">
          {% csrf_token %}
          <label for="challenge-name" class="block text-xs font-semibold text-gray-700 mb-1">
            First Name
          </label>
          <label class="block text-xs text-gray-500 mb-2">Challenge Name</label>
          {{ form.first_name }}
          <label for="challenge-name" class="block text-xs font-semibold text-gray-700 mb-1">
            Last Name
          </label>
          <label class="block text-xs text-gray-500 mb-2">Category Challenge</label>
          {{form.last_name}}
          <label for="challenge-name" class="block text-xs font-semibold text-gray-700 mb-1">
            Username
          </label>
          <label class="block text-xs text-gray-500 mb-2">Category Challenge</label>
          {{form.username}}
          <label for="challenge-name" class="block text-xs font-semibold text-gray-700 mb-1">
            Email
          </label>
          <label class="block text-xs text-gray-500 mb-2">Use this to give a brief introduction to your challenge. </label>
          {{form.email}} 
          <label for="challenge-name" class="block text-xs font-semibold text-gray-700 mb-1">
            Password
          </label>
          <label class="block text-xs text-gray-500 mb-2">Changes the state of the challenge</label>
          {{form.password}}

          <div class="space-y-2">
            {{ form.is_superuser}}
            <label class="text-sm font-medium leading-none">Superuser</label>
          </div>  
          <div class="space-y-2">
            {{ form.verified}}
            <label class="text-sm font-medium leading-none">Verify</label>
          </div>  
         
          <button type="submit" class="bg-green-600 text-white text-sm font-semibold px-5 py-2 rounded hover:bg-green-700">Upload</button>
        </form>
      </div>
</div>
{% endblock %}
