{% extends "layout.html" %}
{% load static %}

{% block topnav %} {% include "components/topnav.html" with title='User Add' %} {% endblock %}

{% block contents %}
<form method="POST" action="{% url 'user_add'%}" class="space-y-4">
  {% csrf_token%} 
  <div class="space-y-2">
    {{form.first_name}} 
  </div>
  <div class="space-y-2">
    {{form.last_name}} 
  </div>
  <div class="space-y-2">
    {{form.username}} 
  </div>

  <div class="space-y-2">
    {{form.email}} 
  </div>
  <div class="space-y-2">
    {{form.password}} 
  </div>

  <div class="space-y-2">
    {{form.status}} 
  </div>

  <div class="space-y-2">
    {{ form.is_superuser}}
    <label class="text-sm font-medium leading-none">Superuser</label>

  </div>
   <div class="space-y-2">
    {{ form.verified}}
    <label class="text-sm font-medium leading-none">Verify</label>

  </div>

  <div class="space-y-2">
    <div class="flex items-center space-x-2">
        <input type="checkbox" class="h-4 w-4 rounded border-primary" />
        <label class="text-sm font-medium leading-none">Checkbox</label>
    </div>
  </div>

  <div class="space-y-2">
    <button type="submit" class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
  Submit
</button>
  </div>
  {% if form.errors%}
    {% for f in form %}
        {% for err in f.errors%}
            {{err}}
        {% endfor %}
    {% endfor %}
  {% endif %}
</form>
{% endblock %}
