{% load static %}


<header class="lg:hidden flex items-center justify-between px-4 py-3 bg-gray-900 border-b border-gray-800">
            <button @click="isSidebarOpen = true" class="text-gray-300 hover:text-white">
                <i class="fas fa-bars text-xl"></i>
            </button>
            <div class="flex items-center space-x-2">
                <i class="fas fa-flag text-ctf-primary"></i>
                <span class="font-bold">CTF 2023</span>
            </div>
            <div class="w-6"></div> <!-- Spacer for balance -->
</header>

