{% load static%}
{% load tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script>
        {% block chart %}{% endblock %}
    </script>
</head>
<body class="bg-gray-100 font-sans">
    <div class="flex h-screen overflow-hidden">
        {% include "components/sidebar.html" %}
        <div class="flex flex-col flex-1 overflow-hidden">
            <!-- Top navigation -->
            {% block topnav %} {% endblock %} 
            <!-- Main content area -->
            <div class="flex-1 overflow-auto p-4 bg-gray-100">
                {% block contents %} {% endblock %}
            </div>
        </div>
    </div>

    <script src=""></script>
</body>
</html>
