{% extends "base.html" %}
{% load static %}

{% block title %}Challenges{% endblock %}

{% block custom_css %}<link rel="stylesheet" href="{% static 'css/challenge.css'%}">{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container">
    <h1>Challenges</h1>

    <!-- Section 1 -->
    <div class="row mb-4">
        <div class="category-title mb-2">Multiple Choice</div>
        <div class="row g-3">
            <div class="col-12 col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- Section 2 -->
    <div class="row mb-4">
        <div class="category-title mb-2">Multiple Choice</div>
        <div class="row g-3">
            <div class="col-12 col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}