{% extends "base.html" %}
{% load static %}

{% block title %}Challenges{% endblock %}

{% block custom_css %}<link rel="stylesheet" href="{% static 'css/challenge.css'%}">{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container">
    <h1>Challenges</h1>
    <div class="row">
        <div class="category-title">Multiple Choice</div>
        <div class="card-group">
            <div class="col col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-md-3">
                <a href="javascript:" style="text-decoration: none;">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">Trivia</div>
                            <div class="card-text">42</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="category-title">Forensics</div>
            <div class="card">
                <div class="card-title">The Lost Park</div>
                <div class="card-text">50</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}